* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
ul li a {
  text-decoration: none;
  color: #32CD32;
  font-size: 19px;
}
ul li button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
